.back-video{
    position: absolute;

    right: 0;
    bottom: 0;
    z-index: -1; 
}
.front-div{
  
  background-image: url(images/womanreading.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  opacity: 35%;
  overflow: hidden;
  
}
.background-picture {
  opacity: 40%;
  height: 80%;
  width: 80%;
  object-fit: cover;
}

.video-div {
    position: absolute;
    right: 0; 
    bottom: 0; 
    width: auto; 
    height: 100%; 
    z-index: -1;
}

.title-words {
  position: relative;
    z-index: 10;
    text-align: center;
    padding-top: 14%;
}

.title-words h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 160px;
    color: black;
    font-weight: 600;
    z-index: 1000;

}
.title-words h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    color: #fff;
    font-weight: 600;

}
.title-words p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 600;

}

.title-words a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.form-control {
    width: 50%;
}

.search-bar {
    display: flex;
  
  justify-content: center;
  height: auto;
  

}

table {
    border-collapse: separate;
    border-color: white;
    border-spacing: 100px;
    margin: auto;
    margin-top: 2%;
    width: 80%;
    height: 100%;
    
  }
  tr{
    width: 80%;
    padding: 100px;
  }
  
  .rounded-box {
    border-radius: 30px; /* add rounded edges */
    background-color: #EFEDF2;
    width: 33.33%;
    height: 30vh;
    text-align: center;
    
    font-size: 24px;
    font-weight: bold;

  }
  
  .medimg {
    width: 80%;
    border-radius: 30px;
  }
  .medimg:hover{
    background-color: black;
    opacity: 20%;
    
  }
  .table-div{
    background-color: #EFEDF2;
    width: 90%; /* The size of the table elements  */
    margin: auto;
    border-radius: 30px;
  }
  
  .table-words {
    font-family:'Red Hat Display';
    color: purple; 
  }

  .main-page-div {
    background-color: #EFEDF2;
    padding-top: 3%;
  }

#root{
    height: 100vh;
}

#bob{
  height: 100vh;
}